{% extends "base.html" %}

{% block app_content %}
<h2>
    Rylan Sturm
    <small class="text-body-secondary">Software Engineer</small>
</h2>
<br>
<p>
<pre><code>
// TODO: Write something about myself
// Notes:
//     Music: Piano, Vocal, most of a degree in Music Education
//     Computers: Degree in CS, working as software and simulation engineer
//     Hobbies/interests: 3D printing, exercise, gaming, whiskey
// WARNING: Make sure not to post these comments on the actual website
</code></pre>
</p>

{% endblock %}
