{% extends "base.html" %}

{% block app_content %}
<div class="hero hero-right index-bg">
    <h1>Rylan Sturm</h1>
    <hr>
</div>
<div class="container index-content">
    <div class="row">
        <div class="col-md-6 left-col">
            <div class="index-text">
                Welcome to my website!
                My name is Rylan, and I am a software and simulation engineer in the aerospace industry.
            </div>
        </div>
        <div class="col-md-6 index-img">
            <img src="static/ParkCity.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 index-img">
            <img src="static/canyoneering.jpg">
        </div>
        <div class="col-md-6 right-col">
            <div class="index-text">
                This website was originally to host a portfolio and help me get a job in software engineering.
                I have decided to keep the site up, but I'm not sure what it will have on it. Feel free to look around!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 left-col">
            <div class="index-text">
                I like to make things using software, hardware, 3D printing, CNC routing, laser cutting, and the occasional woodworking.
                You might say I collect hobbies.
            </div>
        </div>
        <div class="col-md-6 index-img">
            <img src="static/paddleboard.jpg">
        </div>
    </div>
</div>
{% endblock %}
